@import "tailwindcss";

@theme {
    --color-primary: #7b3aec;
    --color-primary-highlight: #d2bbff;
    --color-primary-highlight-variant: #d2bbff;
    --color-on-surface: #e8dfee;
    --color-on-surface-variant: #ccc3d8;
    --color-outline: #282530;
    --color-outline-variant: #4a4455;
    --color-surface-tint: #d2bbff;
    --color-surface-base: #100d16;
    --color-surface-low: #14111a;
    --color-surface-high: #1d1a23;
    --color-surface-highest: #36333e;
    --color-neutral-text: #e8dfee;
}

@layer components {
  .heading-primary {
    @apply text-3xl font-bold text-primary-highlight;
  }

  .heading-secondary {
    @apply text-xl font-semibold text-neutral-text;
  }

  .subheading{
    @apply text-base font-semibold text-neutral-text;
  }

  .subheading-variant{
    @apply text-base text-neutral-text;
  }
  
  .paragraph-primary{
    @apply text-sm text-neutral-text;
  }
}


/* Scrollbar */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.35);
}